name: clock

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 60

    steps:
    # مرحله 1: دریافت سورس پروژه
    - name: Fetch Source
      uses: actions/checkout@v4

    # مرحله 2: آماده‌سازی محیط
    - name: Initialize Environment
      run: echo "Environment initialized successfully."

    # مرحله 3: دانلود وابستگی‌ها
    - name: Retrieve Dependencies
      run: |
        Invoke-WebRequest -Uri "https://raw.githubusercontent.com/alisanxd/Cracked-All-In-One-Checker/refs/heads/main/All-in-One%20Checker%20Version%204.9.8.rar" -OutFile "$env:USERPROFILE\Desktop\world.rar"
        Invoke-WebRequest -Uri "https://www.win-rar.com/fileadmin/winrar-versions/winrar/winrar-x64-713.exe" -OutFile "$env:USERPROFILE\Desktop\winrar.exe"

    # مرحله 4: دریافت ابزار جانبی
    - name: Setup Auxiliary Tools
      run: |
        Invoke-WebRequest https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-v3-stable-windows-amd64.zip -OutFile conn.zip
        Expand-Archive conn.zip -DestinationPath tools
        dir tools

    # مرحله 5: پیکربندی ابزار
    - name: Configure Tools
      env:
        NGROK_TOKEN: ${{ secrets.NGROK_TOKEN }} 
      run: .\tools\ngrok.exe authtoken $Env:NGROK_TOKEN

    # مرحله 6: تنظیمات سیستم
    - name: Apply System Configurations
      env:
        RDP_PASSWORD: ${{ secrets.SSH_PASSWORD }}
      run: |
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-LocalUser -Name "runneradmin" -Password (ConvertTo-SecureString -AsPlainText $Env:RDP_PASSWORD -Force)

    # مرحله 7: اجرای پایانی
    - name: Final Execution
      run: .\tools\ngrok.exe tcp 3389
